[submodule "libraries/mpmt"]
	path = libraries/mpmt
	url = https://github.com/cfnptr/mpmt
[submodule "libraries/zlib"]
	path = libraries/zlib
	url = https://github.com/madler/zlib
[submodule "libraries/mpio"]
	path = libraries/mpio
	url = https://github.com/cfnptr/mpio
